@import "tailwindcss";


@font-face {
  font-family: font1;
  src: url(../public/Lausanne-300.woff2);
}

@font-face {
  font-family: font2;
  src: url(../public/Lausanne-500.woff2);
}

.agence{
  font-size: 19vw;
  line-height: 15vw;
}

body{
  background-color: #111;
}